{{- $data := index .Site.Data .Site.Language.Lang -}}
{{- $formAction := $data.contactinfo.contactformaction -}}

<dialog id="subscribe-modal" class="subscribe-modal">
  <button class="close-modal-x" aria-label="Close modal"><span class="icon fa-times"></span></button>
  <header>
    <h2>{{ i18n "CONTACT_FORM_HEADER" . }}</h2>
    <p>{{ i18n "CONTACT_FORM_TEASER" . }}</p>
  </header>
  <form id="subscribe-modal-form" method="post" action="{{ $formAction }}"
    data-botpoison-public-key="{{ $.Site.Params.botpoisonPublicKey }}" target="_blank">
    <input type="hidden" name="page" value="{{ $.Page.RelPermalink }}" />
    <input type="hidden" name="component" value="subscribe-modal" />
    <div class="fields">
      <div class="field">
        <label for="subscribe-name">{{ i18n "CONTACT_FORM_FIELD_NAME" . }}</label>
        <input type="text" name="name" id="subscribe-name" required />
      </div>
      <div class="field">
        <label for="subscribe-email">{{ i18n "CONTACT_FORM_FIELD_EMAIL" . }}</label>
        <input type="email" name="email" id="subscribe-email" required />
      </div>
      <div class="field">
        <input type="checkbox" id="subscribe-newsletter" name="newsletter" value="Yes" checked>
        <label for="subscribe-newsletter">Subscribe to my bimonthly newsletter as well.<br />
          <a href="{{ relref $.Page $.Site.Params.learnMoreLink }}">Learn more.</a>
        </label>
      </div>
      <div class="field bot-check">
        <input id="subscribe-bot-check" type="checkbox" name="isHuman" tabindex="-1" autocomplete="off" />
        <label for="subscribe-bot-check">Are you human?</label>
      </div>
    </div>
    <ul class="actions">
      <li>
        <button type="submit" class="button primary icon fa-envelope">{{ i18n "CONTACT_FORM_SUBMIT_SEND_MESSAGE" . }}</button>
      </li>
      <li>
        <button type="button" class="button close-modal icon fa-times">Cancel</button>
      </li>
    </ul>
  </form>
</dialog>
