{{- if .IsHome }}
{{- $bookData := dict
  "@context" "https://schema.org"
  "@type" "Book"
  "name" "Waking From Innocent Dreams"
  "author" (dict "@type" "Person" "name" "Nelson de Witt" "alternateName" "Roberto Coto" "url" "https://nelsonroberto.com")
  "description" .Site.Params.Description
  "genre" (slice "Autobiographical Fiction" "Coming-of-Age" "Latin American Literature")
  "inLanguage" "en"
  "image" (index .Site.Params.images 0 | absURL)
  "url" .Site.BaseURL
}}
<script type="application/ld+json">
{{ $bookData | jsonify (dict "indent" "  ") | safeJS }}
</script>
{{- else if eq .Section "news" }}
{{- if .IsPage }}
{{- $articleData := dict
  "@context" "https://schema.org"
  "@type" "Article"
  "headline" .Title
  "description" (or .Description .Site.Params.Description)
  "author" (dict "@type" "Person" "name" "Nelson de Witt" "alternateName" "Roberto Coto" "url" "https://nelsonroberto.com")
  "datePublished" (.Date.Format "2006-01-02")
  "dateModified" (.Lastmod.Format "2006-01-02")
  "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
}}
<script type="application/ld+json">
{{ $articleData | jsonify (dict "indent" "  ") | safeJS }}
</script>
{{- end }}
{{- end }}
