@use '../libs' as *;

.notify-modal {
  padding: size(padding) * 1.5;
  max-width: 40rem;
  border: none;
  border-radius: 4px;

  header {
    text-align: center;
    margin-bottom: size(element-margin);

    h2 {
      // Reset the global h2 top margin for modal context
      margin-top: 0;
    }

    p {
      margin-bottom: 0;
    }
  }

  .actions {
    justify-content: center;
  }

  &::backdrop {
    background: palette(null, fg-bold);
    opacity: 0.95;
  }
}
