{{ define "main" }}
  {{ $postPerPage := .Site.Params.Posts.pagesize | default 6 }}  
  {{ $featuredPostEnabled := .Site.Params.Posts.featuredPost | default true }}
  {{ $allPosts := .Pages }}
  {{ $remainingPosts := slice }}
  {{ $featuredPost := slice }}
  
  
  {{ if $featuredPostEnabled }}
    {{ $featuredPost = index (first 1 $allPosts) 0 }}
    {{ $remainingPosts = .Paginate (after 1 $allPosts) $postPerPage }}
  {{ else }}
    {{ $remainingPosts = .Paginate $allPosts $postPerPage }}
  {{ end }}
  
  {{ $isFirstPage := eq $remainingPosts.PageNumber 1 }}
  <section class="">
    {{ partial "components/page-header" .}}
    {{ .Content }}
  </section>
  
  {{ if and $featuredPost $isFirstPage }}
    {{ partial "posts/featured.html" $featuredPost }}
  {{ end }}
  
  {{ partial "posts/list.html" $remainingPosts.Pages }}
  {{ partial "posts/pagination.html" (dict "paginator" $remainingPosts  "outer" . )}}
{{ end }}