{{ $jQuery := resources.Get "js/jquery.min.js" }}
{{ $scrollex := resources.Get "js/jquery.scrollex.min.js" }}
{{ $scrolly := resources.Get "js/jquery.scrolly.min.js" }}
{{ $browser := resources.Get "js/browser.min.js" }}
{{ $breakpoints := resources.Get "js/breakpoints.min.js" }}
{{ $util := resources.Get "js/util.js" }}
{{ $botpoison := resources.Get "js/botpoison-ajax.js" }}
{{ $lightboxjs := resources.Get "js/lightbox.js" }}
{{ $main := resources.Get "js/main.js" }}

{{ $js := slice $jQuery $scrollex $scrolly $browser $breakpoints $util $botpoison $lightboxjs $main | resources.Concat "assets/js/bundle.js" }}

<!-- Botpoison Script -->
<script src="https://unpkg.com/@botpoison/browser" async></script>

<!-- Scripts -->
<script src='{{ $js.RelPermalink }}'></script>