<!-- Footer -->
{{ $data := index .Site.Data .Site.Language.Lang }}
<footer id="footer">
  {{ if not .Params.disableNewsletter }}
    {{ partial "components/form-newsletter-sign-up" . }}
  {{ end }}
    <section id="contact-info" class="split contact">
        <section>
            <h3>Share</h3>
            {{ partial "components/share-links" (dict "Site" .Site "variant" "footer") }}
        </section>
        {{ with $data.contactinfo.email }}
        <section>
            <h3>{{ i18n "CONTACT_EMAIL" . }}</h3>
            <p><a href="mailto:{{ . }}">{{ . }}</a></p>
        </section>
        {{ end }}
        {{ with $data.social }}
        <section>
            <h3>Follow</h3>
            <ul class="icons alt">
                {{ range . }}
                <li><a href="{{ .url }}" class="icon alt {{ .icon }}"><span class="label">{{ .name }}</span></a></li>
                {{ end }}
            </ul>
        </section>
        {{ end }}
    </section>
</footer>
