{{ define "intro" }}
  {{ $folderName := .Site.Params.Posts.folderName | default "posts" }}
  {{ $allPosts := where .Site.RegularPages "Section" $folderName }}
  {{ $postPerPage := .Site.Params.Posts.pageSize | default 6 }}
  {{ $featuredPostEnabled := .Site.Params.Posts.featuredPost | default true }}

  {{ if $featuredPostEnabled }}
    {{ .Scratch.Set "remainingPosts" (.Paginate (after 1 $allPosts) $postPerPage) }}
  {{ else }}
    {{ .Scratch.Set "remainingPosts" (.Paginate $allPosts $postPerPage) }}
  {{ end }}

  {{ if eq (.Scratch.Get "remainingPosts").PageNumber 1 }}
    {{ partial "header/intro" . }}
  {{ end }}
{{ end }}

{{ define "main" }}
  <article class="post">
    {{ partial "components/page-header" . }}
    {{ .Content }}
    {{ partial "postcustom" . }}
  </article>
{{ end }}
