<form class="long-form" method="post" action="https://submit-form.com/I2btXeVH" data-botpoison-public-key="pk_9529e502-26f4-45bb-8107-644635c143de">
	<div class="row gtr-uniform">
		<div class="col-6 col-12-xsmall">
			<label for="name">Name</label>
			<input type="text" name="name" id="name" value="" placeholder="Full Name" required/>
		</div>
		<div class="col-6 col-12-xsmall">
			<label for="email">Email</label>
			<input type="email" name="email" id="email" value="" placeholder="Your Email" required/>
		</div>
		<!-- Mailing Address -->
		<div class="col-12">
			<label for="mailing-address">1. What is your mailing address?</label>
			<textarea name="mailing-address" id="mailing-address" placeholder="Mailing Address (US Only)" rows="4" required></textarea>
		</div>
		<!-- Connection -->
		<div class="col-12">
			<label for="affiliation">2. What is your connection to me?</label>
			<select name="affiliation" id="affiliation">
				<option value="">- Select a Connection -</option>
				<option value="El Salvador">El Salvador</option>
				<option value="Beaver">Beaver Country Day School</option>
				<option value="Lasell">Lasell/Lasell Village</option>
				<option value="WPI">SAE/Worcester Polytech</option>
				<option value="Wentworth">Wentworth</option>
				<option value="Camp Day">Camp Frank A. Day</option>
				<option value="Frisbee">Ultimate Frisbee</option>
				<option value="Other">Other</option>
			</select>
		</div>
		<!-- Confidence -->
		<div class="col-12">
			<label for="confidence">3. How confident are you that you can read it in 3 to 4 weeks?</label>
			<p>The book is 470 pages but I've been told it's a fast read. </p>
		</div>
		<div class="col-4 col-12-small">
			<input type="radio" id="confidence-low" name="confidence" value="Fairly" required>
			<label for="confidence-low">Fairly confident</label>
		</div>
		<div class="col-4 col-12-small">
			<input type="radio" id="confidence-medium" name="confidence" value="Somewhat">
			<label for="confidence-medium">Somewhat confident</label>
		</div>
		<div class="col-4 col-12-small">
			<input type="radio" id="confidence-unsure" name="confidence" value="Unsure">
			<label for="confidence-unsure">Unsure</label>
		</div>
		<!-- Time Frame -->
		<div class="col-12">
			<label for="time-of-year">4. When could you read it?</label>
			<p>What is the best time of year for you to read the book.</p>
			<select name="time-of-year" id="time-of-year" required>
				<option value="">- Select a time -</option>
				<option value="Spring 2022">Spring 2022 (March - May)</option>
				<option value="Summer 2022">Summer 2022 (June - August)</option>
				<option value="Fall 2022">Fall 2022 (Sept - Nov)</option>
				<option value="Winter 2023">Winter 2023 (Dec - Feb)</option>
				<option value="Spring 2023">Spring 2023 (March - May)</option>
				<option value="Anytime">No Preference/Anytime</option>
			</select>
		</div>
		<!-- Break -->
		<div class="col-12-small">
			<label>5. Would you like to sign up for my newsletter?</label>
			<p>The emails are sent twice a month, first with content and then an author update.</p> 
			<input type="checkbox" id="newsletter" name="newsletter" value="Yes">
			<label for="newsletter">Sign me up!</label>
			<p><i>Psssst... If you already receive my author updates form <a href="https://nelsonroberto.com/newsletter/">nelsonroberto.com</a> there is no need to sign up, it is the same newsletter.<i></p>
		</div>
		<!-- Break -->
		<div class="col-12">
			<ul class="actions">
				<li><button type="submit">Submit</button></li>
				<li><input type="reset" value="Reset" /></li>
			</ul>
		</div>
	</div>
</form>