<form method="post" action="https://submit-form.com/???" data-botpoison-public-key="">
  <div class="row gtr-uniform">
    <div class="col-6 col-12-xsmall">
      <label for="name">Your Name</label>
      <input type="text" name="name" id="name" value="" placeholder="Full Name" required/>
    </div>
    <div class="col-6 col-12-xsmall">
      <label for="email">Your Email</label>
      <input type="email" name="email" id="email" value="" placeholder="Your Email" required/>
    </div>
    <div class="col-6 col-12-xsmall">
      <label for="name">Contact</label>
      <input type="text" name="name" id="name" value="" placeholder="Full Name" required/>
    </div>
    <div class="col-6 col-12-xsmall">
      <label for="email">Organization</label>
      <input type="email" name="email" id="email" value="" placeholder="Your Email" required/>
    </div>
    <div class="col-6 col-12-xsmall">
      <label for="email">Website</label>
      <input type="email" name="email" id="email" value="" placeholder="Your Email" required/>
    </div>
    <div class="col-12">
      <label for="affiliation">Connection Type</label>
      <select name="affiliation" id="affiliation">
        <option value="">- Select a Connection -</option>
        <option value="El Salvador">El Salvador</option>
        <option value="Beaver">Beaver Country Day School</option>
        <option value="Lasell">Lasell/Lasell Village</option>
        <option value="WPI">SAE/Worcester Polytech</option>
        <option value="Wentworth">Wentworth</option>
        <option value="Camp Day">Camp Frank A. Day</option>
        <option value="Frisbee">Ultimate Frisbee</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div class="col-12">
      <label for="confidence">3. How confident are you that you can read it in 3 to 4 weeks?</label>
      <p>The book is 470 pages but I've been told it's a fast read. </p>
    </div>
    <div class="col-4 col-12-small">
      <input type="radio" id="confidence-low" name="confidence" value="Fairly" required>
      <label for="confidence-low">Fairly confident</label>
    </div>
    <div class="col-4 col-12-small">
      <input type="radio" id="confidence-medium" name="confidence" value="Somewhat">
      <label for="confidence-medium">Somewhat confident</label>
    </div>
    <div class="col-4 col-12-small">
      <input type="radio" id="confidence-unsure" name="confidence" value="Unsure">
      <label for="confidence-unsure">Unsure</label>
    </div>
    <div class="col-12">
      <label for="time-of-year">4. When could you read it?</label>
      <p>What is the best time of year for you to read the book.</p>
      <select name="time-of-year" id="time-of-year" required>
        <option value="">- Select a time -</option>
        <option value="Spring 2022">Spring 2022 (March - May)</option>
        <option value="Summer 2022">Summer 2022 (June - August)</option>
        <option value="Fall 2022">Fall 2022 (Sept - Nov)</option>
        <option value="Winter 2023">Winter 2023 (Dec - Feb)</option>
        <option value="Spring 2023">Spring 2023 (March - May)</option>
        <option value="Anytime">No Preference/Anytime</option>
      </select>
    </div>
    <div class="col-12">
      <ul class="actions">
        <li><button type="submit">Submit</button></li>
        <li><input type="reset" value="Reset" /></li>
      </ul>
    </div>
  </div>
</form>