<form method="post" action="https://submit-form.com/EY2VX982" data-botpoison-public-key="pk_3b25dfe0-621c-4bd8-b379-aee496277fe7">
  <div class="row gtr-uniform">
    <div class="col-6 col-12-xsmall">
      <label for="name">Your Name*</label>
      <input type="text" name="name" id="name" value="" placeholder="" required/>
    </div>
    <div class="col-6 col-12-xsmall">
      <label for="email">Your Email*</label>
      <input type="email" name="email" id="email" value="" placeholder="" required/>
    </div>
    <div class="col-6 col-12-xsmall">
      <label for="contact-name">Connection Name</label>
      <input type="text" name="contact-name" id="contact-name" value="" placeholder="" />
    </div>
    <div class="col-6 col-12-xsmall">
      <label for="contact-email">Connection Email</label>
      <input type="email" name="contact-email" id="contact-email" value="" placeholder="" />
    </div>
    <div class="col-12 col-12-xsmall">
      <label for="organization">Name of Associated Organization</label>
      <input type="text" name="organization" id="organization" value="" placeholder="" />
    </div>
    <div class="col-12 col-12-xsmall">
      <label for="website">Their Website or Organization Website</label>
      <input type="text" name="website" id="website" value="" placeholder="https://" />
    </div>
    <div class="col-12">
      <label for="ecosystem-type">Connection Type</label>
      <select name="ecosystem-type" id="ecosystem-type">
        <option value="">- Select a Type -</option>
        <option value="Media Hub">Media Hub (News Outlet, Podcast, Blog, etc.)</option>
        <option value="Thought Leader/Influencer">Thought Leader/Influencer</option>
        <option value="Event">Event (In Person/Online)</option>
        <option value="Academic Institution">Academic Institution</option>
        <option value="Government Institution">Government Institution</option>
        <option value="For-Profit Company">For-Profit Company</option>
        <option value="Non-Profit Company">Non-Profit Company</option>
        <option value="Association or Club">Association or Club</option>
        <option value="Faith Community">Faith Community</option>
        <option value="Service Provider">Service Provider</option>
      </select>
    </div>
    <div class="col-12">
      <label for="introduction">Would you be able to make an introduction?</p>
    </div>
    <div class="col-6 col-12-small">
      <input type="radio" id="introduction-yes" name="introduction" value="Yes" required>
      <label for="introduction-yes">Sure, I'd be happy to!</label>
    </div>
    <div class="col-6 col-12-small">
      <input type="radio" id="introduction-no" name="introduction" value="No">
      <label for="introduction-no">Sorry, I am unable to.</label>
    </div>
    <div class="col-12 col-12-xsmall">
      <label for="other-ideas">Any other ideas, suggestions, or assets you might have that could help me get the word out.</label>
      <textarea name="other-ideas" id="other-ideas" rows="6"></textarea>
    </div>
    <div class="col-12">
      <ul class="actions">
        <li><button type="submit">Submit</button></li>
        <li><input type="reset" value="Reset" /></li>
      </ul>
    </div>
  </div>
</form>