{{ $data := index .Site.Data.forms (.Get "data") }}
<form class="{{ $data.class | default "long-form" }}" method="post" action="https://submit-form.com/{{ $data.formID }}" data-botpoison-public-key="{{ $data.botpoisonKey }}" data-success-url="{{ absURL "success" }}">
	<div class="row gtr-uniform">
		{{ range $data.fields }}
			{{ if eq .type "textarea" }}
				<div class="{{ .class | default "col-12" }}">
					<label for="{{ .id }}">{{ .labelText }}</label>
					{{ with .helperText }}<p><em>{{.}}</em></p>{{ end }}
					<textarea name="{{ .id }}" id="{{ .id }}" rows="{{ .rows | default 6 }}"></textarea>
				</div>	
			{{ end }}
			
			{{ if eq .type "label" }}
			<div class="{{ .class | default "col-12" }}">
				<label>{{ .labelText }}</label>			
				{{ with .helperText }}<p><em>{{. | markdownify }}</em></p>{{ end }}
			</div>
			{{ end }}
			
			{{ if eq .type "text" }}
			<div class="{{ .class | default "col-12" }}">
				<label for="{{ .id }}">{{ .labelText }}</label>
				<input type="text" name="{{ .id }}" id="{{ .id }}" value="" placeholder="{{ .placeholder }}" {{ if .required }}required{{end}}/>
				{{ with .helperText }}<p><em>{{.}}</em></p>{{ end }}
			</div>
			{{ end }}
			
			{{ if eq .type "checkbox" }}
			<div class="{{ .class | default "col-12" }}">
				{{ range .options }}
					<input type="checkbox" name="{{ .id }}" id="{{ .id }}" value="{{ .value }}" {{ if .required }}required{{end}}/>
					<label for="{{ .id }}">{{ .labelText }}</label>
					{{ with .helperText }}<p><em>{{.}}</em></p>{{ end }}
				{{ end }}
			</div>
			{{ end }}
			
			{{ if eq .type "radio" }}
			<div class="{{ .class | default "col-12" }}">
				<label for="{{ .id }}">{{ .labelText }}</label>
				{{ with .helperText }}<p><em>{{.}}</em></p>{{ end }}
			</div>
			{{ range .options }}
			<div class="{{ .class }}">
				<input type="radio" name="{{ .id }}" name="{{ .name }}" value="{{ .value }}" {{ if .required }}required{{end}}/>
				<label for="{{ .id }}">{{ .labelText }}</label>
				{{ with .helperText }}<p><em>{{.}}</em></p>{{ end }}
			</div>
			{{ end }}
			{{ end }}
			
			{{ if eq .type "starrating" }}
			<div id="full-stars-example-two">
						<label for="rating">{{ .labelText }}</label>
						<div class="rating-group">
								<input disabled checked class="rating__input rating__input--none" name="rating" id="rating-none" value="0" type="radio">
								<label aria-label="1 star" class="rating__label" for="rating-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
								<input class="rating__input" name="rating" id="rating-1" value="1" type="radio">
								<label aria-label="2 stars" class="rating__label" for="rating-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
								<input class="rating__input" name="rating" id="rating-2" value="2" type="radio">
								<label aria-label="3 stars" class="rating__label" for="rating-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
								<input class="rating__input" name="rating" id="rating-3" value="3" type="radio">
								<label aria-label="4 stars" class="rating__label" for="rating-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
								<input class="rating__input" name="rating" id="rating-4" value="4" type="radio">
								<label aria-label="5 stars" class="rating__label" for="rating-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
								<input class="rating__input" name="rating" id="rating-5" value="5" type="radio">
						</div>
				</div>
			{{ end }}
		{{ end }}
		
		<!-- Submit -->
		<div class="col-12">
			<ul class="actions">
				<li><button type="submit" class="primary">{{ $data.submitText | default "submit" }}</button></li>
				<li><input type="reset" value="{{ $data.resetText | default "reset" }}" /></li>
			</ul>
		</div>
	</div>
</form>