<form method="post" action="#">
	<div class="row gtr-uniform">
		<div class="col-6 col-12-xsmall">
			<input type="text" name="demo-name" id="demo-name" value="" placeholder="Name" />
		</div>
		<div class="col-6 col-12-xsmall">
			<input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
		</div>
		<!-- Break -->
		<div class="col-12">
			<label for="question-1">What's your mailing address?</label>
			<p>Hardest question first, could you write a review? It doesn't have to be that long, like an Amazion review. I am collecting these and may use them on the website or on the final book itself!</p>
			<textarea name="question-1" id="question-1" placeholder="Write a review" rows="6"></textarea>
		</div>
		<!-- Break -->
		<div class="col-12">
			<select name="demo-category" id="demo-category">
				<option value="">- Category -</option>
				<option value="1">Manufacturing</option>
				<option value="1">Shipping</option>
				<option value="1">Administration</option>
				<option value="1">Human Resources</option>
			</select>
		</div>
		<!-- Break -->
		<div class="col-4 col-12-small">
			<input type="radio" id="demo-priority-low" name="demo-priority" checked>
			<label for="demo-priority-low">Low</label>
		</div>
		<div class="col-4 col-12-small">
			<input type="radio" id="demo-priority-normal" name="demo-priority">
			<label for="demo-priority-normal">Normal</label>
		</div>
		<div class="col-4 col-12-small">
			<input type="radio" id="demo-priority-high" name="demo-priority">
			<label for="demo-priority-high">High</label>
		</div>
		<!-- Break -->
		<div class="col-12-small">
			<input type="checkbox" id="newsletter" name="newsletter" >
			<label for="newsletter">Sign up for my newsletter?</label>
			<p>The emails are sent twice a month, first with content and then an author update.</p>
		</div>
		<!-- Break -->
		<div class="col-12">
			<ul class="actions">
				<li><button type="submit">Submit Feedback</button></li>
				<li><input type="reset" value="Reset" /></li>
			</ul>
		</div>
	</div>
</form>