<button class="button {{ .Get "class" }} open-modal">{{ .Get "title" }}</button>
<dialog class="notify-modal">
  <header>
    <h2>Notify Me</h2>
    <p>Enter your address below and I will email you when the book is available for purchase.</p>
  </header>
  <form id="signup-form" method="post" action="https://submit-form.com/{{ .Get "formSparkID" }}" data-botpoison-public-key="pk_dd2eb71b-ac8a-4772-b8d0-02eed0d0f626" data-success-url="/thank-you" target="_blank">
    <input type="hidden" name="page" value="{{ $.Page.RelPermalink }}" />
    <input type="hidden" name="component" value="modal" />
    <div class="fields">
      <div class="field">
        <input type="text" name="name" id="name" placeholder="Your Name" />
      </div>
      <div class="field">
        <input type="text" name="email" id="email" placeholder="Your Email" required/>
      </div>
      <div class="field">
        <input type="checkbox" id="newsletter" name="newsletter" value="Yes">
        <label for="newsletter" class="align-left">Subscribe to my bimonthly newsletter as well.<br /><a href="{{ relref $.Page $.Site.Params.learnMoreLink }}">Learn more.</a></label>
      </div>
    </div>
    <ul class="actions">
      <li>
        <button id="submit" type="submit" class="button primary small icon fa-envelope">{{ i18n "CONTACT_FORM_SUBMIT_SEND_MESSAGE" . }}</button>
      </li>
      <li>
        <button class="button small close-modal icon fa-times">Never mind</button>
      </li>
    </ul>
  </form>
</dialog>