<button class="button {{ .Get "class" }} open-modal">{{ .Get "title" }}</button>
<dialog class="notify-modal">
  <button class="close-modal-x" aria-label="Close modal"><span class="icon fa-times"></span></button>
  <header>
    <h2>{{ i18n "CONTACT_FORM_HEADER" . }}</h2>
    <p>{{ i18n "CONTACT_FORM_TEASER" . }}</p>
  </header>
  <form id="signup-form" method="post" action="https://submit-form.com/{{ .Get "formSparkID" }}" data-botpoison-public-key="{{ $.Site.Params.botpoisonPublicKey }}" data-success-url="/thank-you" target="_blank">
    <input type="hidden" name="page" value="{{ $.Page.RelPermalink }}" />
    <input type="hidden" name="component" value="modal" />
    <div class="fields">
      <div class="field">
        <input type="text" name="name" id="name" placeholder="Your Name" />
      </div>
      <div class="field">
        <input type="text" name="email" id="email" placeholder="Your Email" required/>
      </div>
    </div>
    <ul class="actions">
      <li>
        <button id="submit" type="submit" class="button primary small icon fa-envelope">{{ i18n "CONTACT_FORM_SUBMIT_SEND_MESSAGE" . }}</button>
      </li>
      <li>
        <button class="button small close-modal icon fa-times">Never mind</button>
      </li>
    </ul>
  </form>
</dialog>